body {
	margin: 0;
	padding: 0;
	background-color: #DCEDE8;
	outline:1px solid #cccccc;
	font-family: Tahoma, Arial, helvetica, sans-serif;
}

h1 {

	padding: 0;
	margin: 10px;
	border: 0 solid;
	font-family: 'Verdana';
	font-size: 50px;
	font-style: italic;
	text-align: center;
	color: #9E180F;
}

p{
	
	text-indent: 30px;
	padding: 0 15px;
	text-align: justify;

}

ul {
	
	margin: 0 30px 15px 15px;

}

ul li {
	text-indent: 50px;
	padding: 5px 15px;
	text-align: justify;
	font-family: Tahoma, Arial, helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: normal;
}

#wrapper {
	max-width: 1100px;
	min-width: 904px;
	margin: 0 auto;	
}
#header {
	height: 170px;
	margin: 0 0 10px 0;
	background-image: url(../image/head.jpg);
	background-repeat: repeat-x;
}

#header div {
	height: 170px;
	background-image: url(../image/head_l.jpg);
	background-repeat: no-repeat;
}

#header div div {
	height: 170px;
	
	background: url(../image/oboi20.jpg) no-repeat;
	background-position: 97% 5px;
	
}

#header div div div{
	height: 170px;
	background: url(../image/head_r.jpg) no-repeat;
	background-position: 100% 0;
}

#sidebar {
	height: 43px;
	margin: auto 0 10px 0;
	background-image: url(../image/sb.jpg);
	background-repeat: repeat-x;
}
#sidebar span {
	color: #FFFFFF;
	width: 110;
	font: Verdana;
	font-size: 23px;
}

#sidebar ul {
	color: #AC2217;
	margin: auto;
	padding-left: 250px;
}

#sidebar li{
	float: left;
}

#sidebar div {
	height: 43px;
	background: url(../image/sb_l.jpg) no-repeat;
}

#sidebar div div {
	height: 43px;
	background: url(../image/sb_r.jpg) no-repeat;
	background-position: 100% 0;
}

#contant {
	min-height: 400px;
	margin: 0 0 10px 0;
	background-color: #FFFFFF;
}

#example1 {
	background-color: #FFEDAE;
	margin: 10px 15px;
}

#example2 {
	background-color: #D13A29;
	color:#FFFFFF;
	margin: 10px 15px;
	font-size: 30px;
	font-style: italic;
}

#example3 {
	background-color: #D5D5D5;
	color:#FFFFFF;
	margin: 10px 15px;
	font-size: 16px;
}

.main_table {
	width: 100%;
}

.main_table td {
	padding: 25px 15px 25px 15px;
	margin: 10px 5px;
}

#footer {

	height: 56px;
	margin: 0 10px 10px 10px;
	background-color: #FFFFFF;
	background-image: url(../image/foot.jpg);
	background-repeat: repeat-x;
}

#footer div {
	height: 56px;
	background: url(../image/foot_l.jpg) no-repeat;
}

#footer div div {
	height: 56px;
	background: url(../image/foot_r.jpg) no-repeat;
	background-position: 100% 0;
}

#head_c {
color: #FFFFFF;
font-size: 20px;
padding-left: 10px;
}

#podzagol {
	color:#9E180F;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
}

#abzats {
	padding: 10px;
}